.header_w{
    height: $header-height;
    background:$dark-red;
}

.header{
    width: $container-width;
    height: $header-height;
    margin: 0 auto;
    position: relative;
    //overflow: hidden;  //这里使用移入效果  需要去掉
    background: url(../images/headerJob.png) 780px 50% no-repeat;
    .leftLogo{
        float: left;
    }
    .rightHead{
        float: right;
        margin-top: 50px;
        color: #fff;

        a{
            color: #fff;
        }

        .linkIcon{
            float: right;
            .icon_item{
                width: 30px;
                height: 30px;
                display: inline-block;
                margin: 14px 8px 0 0;
                .qrcode{
                    display: none;
                    top: 42px;
                    left: -75px;
                    position: absolute;
                    z-index: 20;
                }
            }
            .icon_01{
                position: relative;
                background: url(../images/head/wechat.png) no-repeat;
            }
            .icon_02{
                position: relative;
                background: url(../images/head/webo.png) no-repeat;
            }
        }
    }
}


.header_logo{
	margin-top:33px;
}

.header_contact{
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;

    a{
    	color: #fff;
    }
}